<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleServletProject</display-name>
  <!-- <welcome-file>index.html</welcome-file> --> 
  <servlet>
  <servlet-name>XmlServlet</servlet-name>
  <servlet-class>org.shikhar.servlet.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <!-- maps to url pattern -->
   <servlet-name>XmlServlet</servlet-name>
   <url-pattern>/XmlServletPath</url-pattern>
  </servlet-mapping>
</web-app>